Scans log as it appears in "Console Output" and :<br/>
<ul>
<li>marks the fails, passes, and skips test lines in the log according to the selected parsing rules.</li>
<li>creates a quick link reference to the marked lines in the log.</li>
<li>shows a summary of errors and warnings for each build.</li>
</ul>
<br/>
Note: May prolong build time, depending on log size.
